@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;600;700;800;900&display=swap');

html, body{ 
    overflow-x: hidden; 

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Overpass', sans-serif;
    width: 100vw;
}

/* HEADER */
header{
    background-image: url("../img/background-top.png");
    background-size: cover;
    background-position: bottom;
    height: auto;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}

/* SEÇÃO BANNER */
#banner{
    padding-top: 50px;
}

#banner-left{
    margin-top: 120px;
}

#banner-button{
    margin-top: 30px;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 900;
    color: #a8391c;
}

#banner-button a{
    text-decoration: none;
}

.parallax-padding{
    padding-left: 35px;
}

/* SEÇÃO BALÕES */
#balloons {
    padding-top: 50px;
}

#balloon {
    background-color: #f6bc06;
    border-radius: 25px;
    margin: 10px;
    padding: 20px;
    text-align: left;
}

#balloon:hover {
    border-color: transparent;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.30);
    margin-top: -2px;
    margin-bottom: 2px;
}

.balloon-icon {
    margin-right: 10px;
}

.balloon-h{
    margin-top: 5px;
    line-height: 1.2em;
    font-size: 1.3em;
    font-weight: 900;
    color: white;
}

.balloon-p{ 
    line-height: 1.3em;
    font-weight: 300;
    font-size: 0.92em;
    color: white;
}

main {
    padding-top: 35px;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    min-height: 100%;

}

.title {
    text-align: center;
    font-size: 42px;
    font-weight: 900;
    color: #d85532;
}

.subtitle {
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    color: #ec9413;
    margin-bottom: 25px;
}

.mp-img1{
    margin-top: 25px;
    background-image: url("../img/mp-background.PNG");
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
}

.mp-img2{
    margin-top: 25px;
    background-image: url("../img/mp-background2.PNG");
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
}

.mp-img3{
    margin-top: 25px;
    background-image: url("../img/mp-background3.PNG");
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
}

#mp-side{
    text-align: left;
    margin-top: 25px;
}

.legenda-mp{
    margin-top: 30px;
    font-size: 16px;
    color: #ec9413;
}

.mp-side-subtxt {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #ec9413;
    margin-bottom: 10px;
}

#accordion-button{    
    background-color: #f6bc06;
    border-radius: 20px;
    border: transparent;
    height: 40px;
    position: relative;
    font-size: 20px;
    font-weight: 800;
    color: white;
    text-align: left;
    padding-top: 6px;
    padding-left: 40px;
    margin-top: 5px;
}

.card-body {
    padding-top: 10px;
    border-radius: 20px;
    border: transparent;
    background-color: #F7DDD6;
    color: #d85532;
}

#card-body-middle{
    background-color: #FDF6F2;
}

#cardapio-interativo{
    margin-top: 25px;
    background-color: #F7DDD6;
    padding-bottom: 25px;
    padding-top: 25px;
}

#chamada-animada{
    margin-top: 25px;
}

#mais-vantanges{ 
    margin-top: 25px;
    padding-top: 60px;
    padding-bottom: 200px;
    height: auto;
    background-image: url("../img/background-middle-bottom1.PNG");
    background-size: cover;
    background-repeat: no-repeat;
}

#mb-txt{
    text-align: left;
    margin-bottom: 25px;
}

#mb-title{
    margin-top: 50px;
    margin-bottom: 25px;
}


.h-mb{
    font-size: 24px;
    font-weight: 900;
    color: white;
}

.p-mb{
    margin-left: 40px;
    margin-top: -10px;
    font-weight: 200;
    font-size: 18px;
    color: white;
}

.check {
    margin-right: 10px;
    margin-bottom: 10px;
}

#pizza{
    margin-top: 100px;
    padding-top: 50px;
}

#price {
    background-color: #f6bc06;
    border-radius: 25px;
    margin: 10px;
    padding: 20px;
    text-align: left;
    height: 100%;
    margin-bottom: 50px;
}

#price-special {
    background-color: #f6bc06;
    border-radius: 25px;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
}

#price-button{
    padding-top: 10px;
    margin-top: 25px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 900;
    color: #a8391c;
    border: transparent;
}

#price-special-button{
    padding-top: 10px;
    margin-top: 25px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 900;
    background-color: #a8391c;
    color: white;
    border: transparent;
}

.img-price{
    margin-right: 10px;
}

.h-price{
    font-size: 24px;
    font-weight: 900;
    color: white;
    padding-top: 15px;
}

.p-price{
    padding-top: 10px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    text-align: center;
}

.span-price{
    color: #a8391c;
    font-size: 30px; 
    font-weight: 900;
}

.span-item{
    font-weight: 200;
}

.span-preco{
    text-decoration: line-through;
    text-decoration-color: #a8391c;
}

.item{
    font-weight: 700;
    font-size: 18px;
    color: white;
    padding-top: 2px;
}

/* SEÇÃO URGENCIA */

#promo{
    margin-bottom: 50px;
}


#balloon-promo{
    background-color: #f6bc06;
    border-radius: 25px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.h-bp{
    color: white;
    font-size: 100px;
    font-weight: 900;
    margin-bottom: -40px;
}

.p-bp{
    color: #d85532;
    font-size: 30px;
    font-weight: 900;
    margin-top: -40px;
}

#barra-regressiva{
    background-color: #f6bc06;
    color: white;
    font-size: 24px;
    font-weight: 800;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    height: 50px;
    text-align: center;
}

/* FAQ */

.faq{
    margin-top: 25px;
    padding-top: 25px;
    background-color: #F7DDD6;
    padding-bottom: 50px;
}

#accordion-button-faq{
    background-color: #f6bc06;
    border-radius: 25px;
    border: transparent;
    min-height: 40px;
    font-size: 22px;
    font-weight: 800;
    color: white;
    text-align: left;
    padding-top: 5px;
    padding-left: 25px;
    margin-top: 5px;
    white-space: normal;
    word-wrap: break-Word;

}

.card-body-faq {
    padding: 20px;
    border-radius: 20px;
    border: transparent;
    background-color: #FDF6F2;
    color: #d85532;
    text-align: justify;
}

footer{
    background-image: url("../img/background-bottom.PNG");
    background-color: #F7DDD6;
    background-size: cover;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    padding-top: 150px;
}



#title-bottom{
    color: white;
}



.contact{
    background-color: white;
    border-radius: 20px;
    border-style: none;
    margin: 10px;
    padding: 20px;
}

.contact:hover{
    cursor: pointer;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.30);
    margin-top: -2px;
    margin-bottom: 2px;
}

.contact a{
    height: 100%;
    width: 100%;
    display: block;
    text-decoration: none;

}

.c-title{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 900;
    color: #d85432;
}

.c-txt{
    font-size: 20px;
    font-weight: 600;
    color: #d85432;
}

#logo{
    margin-top: 100px;
    margin-bottom: 80px;
}

#credit{
    color: white;
}

a.b{
    text-decoration: white;
    color: white;
}

a.b:link{
    text-decoration: none;
    color: white;
}

a.b:hover{
    text-decoration: underline; 
    color: white;

}