@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;600;700;800;900&display=swap');

html, body{ 
    overflow-x: hidden; 

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Overpass', sans-serif;
    width: 100vw;
}

/* HEADER */
header{
    background-image: url("../img/background-top.png");
    background-size: cover;
    background-position: bottom;
    height: auto;
    background-repeat: no-repeat;
    padding-bottom: 15vw;
}

#topo{
    padding-top: 150px;
}

#topo h1{
    text-align: center;
    font-size: 42px;
    font-weight: 900;
    color: #ffffff;
}

#topo p{
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    color: #ffffff;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

/* FORMULARIO */
#primeiro-title{
    margin-top: -50px;
}

.title {
    text-align: center;
    font-size: 42px;
    font-weight: 900;
    color: #d85532;
    margin-top: 50px;
    margin-bottom: 25px;
}

.subtitle {
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    color: #ec9413;
    margin-top: 25px;
    margin-bottom: 25px;
}

label{
    color: #d85532;
    font-size: 1em;
}

#botao-enviar{
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 900;
    background-color: #d85532;
    color: white;
    border: transparent;
}

#botao-enviar:hover{
    background-color: #a8391c;
}

/* FOOTER */
footer{
    background-image: url("../img/background-bottom.PNG");
    background-size: cover;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    padding-top: 25px;
    margin-top: 50px;
}

#title-bottom{
    color: white;
}

.contact{
    background-color: white;
    border-radius: 20px;
    border-style: none;
    margin: 10px;
    padding: 20px;
}

.contact:hover{
    cursor: pointer;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.30);
    margin-top: -2px;
    margin-bottom: 2px;
}

.contact a{
    height: 100%;
    width: 100%;
    display: block;
    text-decoration: none;
}

.c-title{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 900;
    color: #d85432;
}

.c-txt{
    font-size: 20px;
    font-weight: 600;
    color: #d85432;
}

#logo{
    margin-top: 100px;
    margin-bottom: 80px;
}

#credit{
    color: white;
}

a.b{
    text-decoration: white;
    color: white;
}

a.b:link{
    text-decoration: none;
    color: white;
}

a.b:hover{
    text-decoration: underline; 
    color: white;

}